.container {
    width: 100%;
    display: flex;
    padding: 32px 0;
    flex-direction: column;
    justify-content: center;
}

.container h1 {
    font-size: 31px;
    font-weight: 500;
    line-height: 41px;
    color: var(--grey);
    font-style: normal;
    font-family: Archivo;
}

.container .addLesson {
    gap: 1.5rem;
    display: flex;
    margin-top: 2rem;
    padding: 40px 32px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    background: var(--white);
}

.container .body {
    padding: 0;
    background: transparent;
}

.addLesson button {
    padding: 10px 30px;
}

.addLesson button:nth-child(3) {
    flex: 1;
    color: var(--red);
    background: var(--white);
    justify-content: flex-start;
}

.addLesson .inactivePrimary {
    pointer-events: none;
    color: var(--white);
    background: var(--disabled);
}

.addLesson .inactiveSecondary {
    pointer-events: none;
    color: var(--disabled);
    border-color: var(--disabled);
}

.addBlock {
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    padding: 40px 32px;
    border-radius: 10px;
    background: var(--scheduleRightCtaGreen);
}

.addBlock>p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--grey);
    font-style: normal;
    font-family: Archivo;
}

.buttonContainer {
    flex-wrap: wrap;
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
}

@media screen and (min-width: 779px) and (max-width: 1023px) {
    .container {
        gap: 1.2rem;
        padding: 16px;
    }

    .container .addLesson {
        gap: 1rem;
        padding: 16px;
    }

    .buttonContainer {
        justify-content: center !important;
        border: 1px solid var(--veryLightPurple);
    }

    .addLesson button:nth-child(3) {
        flex: unset;
        justify-content: unset;
    }
}

@media screen and (max-width: 778px) {
    .container {
        padding: 0;
        gap: 1.2rem;
        background: var(--white);
    }

    .container .addLesson {
        gap: 1rem;
        padding: 0;
    }

    .container h1 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 1.5rem;
    }

    .addBlock {
        gap: 10px;
        padding: 40px 16px;
    }

    .addBlock>p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 535px) {
    .buttonContainer {
        padding: 20px 10px !important;
        justify-content: center !important;
        border: 1px solid var(--veryLightPurple);
    }

    .addLesson button:nth-child(3) {
        flex: unset;
        justify-content: unset;
    }
}