.container {
    gap: 2rem;
    padding: 2rem;
    display: flex;
}

.container>div:nth-child(2) {
    height: fit-content;
    position: sticky;
    top: 30px;
}

@media screen and (max-width: 1147px) {
    .container {
        gap: 3rem;
        padding: 2rem 1rem;
        flex-direction: column-reverse;
    }

    .container>div:nth-child(2) {
        position: static;
        top: 0;
    }
}