.container{
    display: flex;
    align-items: stretch;
    height: 100vh;
    overflow-y: hidden;
}

.leftSection{
    width: 300px; 
    border-right: 1px solid var(--sideNavBorder);
}

.rightSection{
    flex: 1;
}

.header{
    height: 88px; 

}

.body{
    height: calc(100vh - 88px);
    overflow-y: auto;
    background: #F1F1F1;
}

