.container {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--sectionBorder);
}

.nothing {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--grey);
}
