.container {
    width: 100%;
    max-width: 426px;
}

.container>h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 36px;
    font-style: normal;
    color: var(--grey);
    font-family: Archivo;
}

@media screen and (max-width: 1147px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
}