.container svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
    object-fit: cover;
}

.container button {
    width: fit-content;
    padding: 10px 30px;
}

.header,
.header>div {
    gap: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 24px 48px;
    background: var(--white);
    border-top: 1px solid var(--veryLightPurple);
}

.header>div span {
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    font-style: normal;
    color: var(--grey);
    font-family: Archivo;
    cursor: pointer;
}

.header>div button {
    border-color: var(--black);
}

.body {
    gap: 2rem;
    display: flex;
    padding: 40px 48px;
    align-items: flex-start;
}

.moduleTitle {
    gap: 1rem;
    display: flex;
    margin: 3rem 1rem 0;
    align-items: center;
    padding-bottom: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid var(--veryLightPurple);
}

.moduleWeek {
    border-bottom: none;
    margin: 0 1rem 0 2rem;
}

.moduleTitle h4 {
    flex: 1;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: var(--grey);
    font-style: normal;
    font-family: Archivo;
}

.moduleWeek h4 {
    font-size: 18px;
    line-height: 28px;
}

.moduleButtons {
    gap: 1.5rem;
    display: flex;
    align-items: center;
}

.moduleButtons button:nth-child(1) {
    border: none;
}

.course,
.addModules {
    gap: 1.5rem;
    width: 100%;
    display: flex;
    padding: 40px 24px;
    border-radius: 10px;
    flex-direction: column;
    background: var(--white);
}

.addEngagingContent {
    align-items: center;
}

.course {
    top: 10px;
    max-width: 452px;
    position: sticky;
    min-height: 80vh;
    overflow-y: auto;
    padding: 24px 16px;
    border: 1px solid var(--sectionBorder);
}

.course h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 36px;
    font-style: normal;
    color: var(--grey);
    font-family: Archivo;
}

.course div:last-child {
    flex: 1;
    display: flex;
    padding-top: 1rem;
    align-items: flex-end;
    justify-content: center;
}

.addModules h3 {
    font-size: 31px;
    font-weight: 500;
    line-height: 41px;
    font-style: normal;
    color: var(--grey);
    font-family: Archivo;
}

.addModulesBottom {
    gap: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.addModulesBottom>div {
    flex: 1;
}

.addModules p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    font-style: normal;
    color: var(--grey);
    margin-top: -1.5rem;
    font-family: Archivo;
}

.selectType>div:nth-child(1) {
    gap: 2rem;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid var(--veryLightPurple);
}

.selectContent {
    gap: 1.8rem;
    display: flex;
    flex-direction: column;
}

.selectContent>h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: var(--grey);
    font-style: normal;
    font-family: Archivo;
    margin-bottom: -1.8rem;
}

.selectContent>div {
    width: 100%;
    gap: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.divider {
    border-bottom: 1px solid var(--greyWhite);
}

@media screen and (min-width: 778px) and (max-width: 1024px) {
    .container button {
        padding: 10px;
    }

    .body {
        gap: 1rem;
        padding: 2rem 1rem;
    }

    .addModules p,
    .addModules h3 {
        text-align: center;
    }

    .selectContent {
        gap: 1rem;
    }

    .selectContent>h4 {
        display: none;
    }

    .selectContent>div {
        gap: 1rem;
        margin-top: 0;
    }

    .divider {
        display: none;
        border: none;
    }
}

@media screen and (max-width: 778px) {
    .container svg {
        width: 16px;
        height: 16px;
    }

    .container button {
        padding: 10px;
    }

    .body {
        gap: 2rem;
        padding: 2rem 1rem;
        flex-direction: column;
        background: var(--white);
    }

    .header,
    .header>div {
        gap: 10px;
    }

    .header {
        padding: 16px;
        border-top: none;
        border-bottom: 1px solid var(--veryLightPurple);
    }

    .header>div span {
        font-size: 10px;
        line-height: 18px;
    }

    .header>div button {
        border: none;
        flex-direction: row-reverse;
    }

    .course {
        border: none;
        max-width: 100%;
        min-height: 80vh;
        overflow-y: auto;
        padding: 24px 16px;
        position: relative;
    }

    .course h3 {
        font-size: 18px;
        line-height: 27px;
    }

    .moduleTitle {
        margin: 2rem 0 0;
    }

    .moduleWeek {
        margin: 0;
    }

    .moduleTitle h4 {
        font-size: 16px;
        line-height: 25px;
    }

    .moduleWeek h4 {
        font-size: 14px;
        line-height: 23px;
    }

    .course,
    .addModules {
        gap: 1rem;
        padding: 1rem;
    }

    .addModules p,
    .addModules h3 {
        text-align: center;
    }

    .addModules h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .addModules p {
        font-size: 14px;
        line-height: 23px;
        margin-top: -0.8rem;
    }

    .selectContent {
        gap: 1rem;
    }

    .selectContent>h4 {
        display: none;
    }

    .selectContent>div {
        gap: 1rem;
        margin-top: 0;
        justify-content: center;
    }

    .divider {
        display: none;
        border: none;
    }
}