.container svg {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.container button {
    width: fit-content;
    padding: 10px 30px;
}

.header,
.header>div {
    gap: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 24px 48px;
    background: var(--white);
    border-top: 1px solid var(--veryLightPurple);
}

.header>div span {
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    font-style: normal;
    color: var(--grey);
    font-family: Archivo;
}

.header>div button {
    border-color: var(--black);
}

.body {
    gap: 3rem;
    display: flex;
    padding: 40px 48px;
    align-items: flex-start;
}

.moduleTitle {
    gap: 1rem;
    display: flex;
    margin: 3rem 1rem 0;
    align-items: center;
    padding-bottom: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid var(--veryLightPurple);
}

.moduleWeek {
    border-bottom: none;
    margin: 0 1rem 0 2rem;
}

.moduleTitle h4 {
    flex: 1;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: var(--grey);
    font-style: normal;
    font-family: Archivo;
}

.moduleWeek h4 {
    font-size: 18px;
    line-height: 28px;
}

.moduleButtons {
    gap: 1.5rem;
    display: flex;
    align-items: center;
}

.moduleButtons button:nth-child(1) {
    border: none;
}

.course,
.addModules,
.addEngagingContent {
    gap: 1.5rem;
    width: 100%;
    display: flex;
    padding: 40px 24px;
    border-radius: 10px;
    flex-direction: column;
    background: var(--white);
}

.addEngagingContent {
    align-items: center;
}

.course {
    top: 10px;
    max-width: 452px;
    position: sticky;
    min-height: 100vh;
    padding: 24px 16px;
    border: 1px solid var(--sectionBorder);
}

.course h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 36px;
    font-style: normal;
    color: var(--grey);
    font-family: Archivo;
}

.course div:last-child {
    flex: 1;
    display: flex;
    padding-top: 1rem;
    align-items: flex-end;
    justify-content: center;
}

.addModules h3 {
    font-size: 31px;
    font-weight: 500;
    line-height: 41px;
    font-style: normal;
    color: var(--grey);
    font-family: Archivo;
}

.addModulesBottom {
    gap: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.addModulesBottom>div {
    flex: 1;
}

.addModules p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    font-style: normal;
    color: var(--grey);
    margin-top: -1.5rem;
    font-family: Archivo;
}

@media screen and (max-width: 768px) {
    .container svg {
        width: 12px;
        height: 12px;
    }

    .container button {
        padding: 10px;
    }

    .header,
    .header>div {
        gap: 10px;
    }

    .header {
        padding: 16px;
        border-top: none;
        border-bottom: 1px solid var(--veryLightPurple);
    }

    .header>div span {
        font-size: 10px;
        line-height: 18px;
    }

    .header>div button {
        border: none;
        flex-direction: row-reverse;
    }
}