.container :first-child {
  margin-top: 0;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.buttonGroup > button {
  flex: 1;
}

/* List styles */
.container ul,
.container ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* Heading styles */
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  line-height: 1.1;
  margin-top: 2.5rem;
}

.container h1,
.container h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.container h1 {
  font-size: 1.4rem;
}

.container h2 {
  font-size: 1.2rem;
}

.container h3 {
  font-size: 1.1rem;
}

.container h4,
.container h5,
.container h6 {
  font-size: 1rem;
}

code {
  background-color: var(--purple-light);
  border-radius: 0.4rem;
  color: var(--grey);
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
}

pre {
  background: var(--black);
  border-radius: 0.5rem;
  color: var(--white);
  font-family: 'Archivo', monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
}

code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

blockquote {
  border-left: 3px solid var(--grey3);
  margin: 1rem 0;
  padding-left: 1rem;
}

.container hr {
  border: none;
  border-top: 1px solid var(--grey3);
  margin: 2rem 0;
}

.editor {
  display: block;
  width: 100%;
  padding: 18px 15px;
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 5px 0;
  border-radius: 5px;
  animation: appear 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(102, 78, 254, 1);
}
