.typeItem {
    gap: 10px;
    width: 47%;
    padding: 10px;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    align-items: flex-start;
}

.typeItem:hover {
    background: var(--veryVeryLightPurple);
}

.typeItem div:nth-child(1) {
    display: flex;
    padding: 12px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background: var(--veryLightPurple);
}

.typeItem div:nth-child(2) {
    padding-top: 1.2rem;
}

.typeItem p {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    font-style: normal;
    color: var(--grey);
    font-family: Archivo;
}

.typeItem span {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    font-style: normal;
    color: var(--grey3);
    font-family: Archivo;
}

@media screen and (max-width: 960px) {
    .typeItem {
        gap: 20px;
        width: 130px;
        height: 142px;
        padding: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border: 1px solid var(--veryLightPurple);
    }

    .typeItem p {
        text-align: center;
    }

    .typeItem span {
        display: none;
    }
}