.container {
  padding: 40px 2rem;
}

.container>div {
  margin-top: 40px;
}

.mobileGetStartedVideo {
  display: block;
}

/* .container img:nth-child(1) {
  width: 334px;
  height: 334px;
} */

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    padding: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 1rem;
  }

  .mobileGetStartedVideo {
    display: flex;
  }

  .container>img {
    width: 184px;
    height: 184px;
  }
}