.container {
  height: 100%;
  padding: 14px;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 10px;
  background: var(--white);
}

.innerContainer {
  border-radius: 6px;
  border: 1px solid var(--veryLightPurple);
  box-sizing: border-box;
  padding: 28px 22px;
}

.module {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
}

.module:not(:last-child) {
  flex-wrap: nowrap;
  margin-bottom: 24px;
}

.module>div:nth-child(3) {
  flex-basis: 100%;
}

.moduleTitleContainer>p {
  color: var(--grey);
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;
}

.moduleTitleContainer:nth-child(1) {
  color: var(--grey);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  cursor: pointer;

  gap: 12px;
  display: flex;
  flex-wrap: wrap;
}

.moduleTitleContainer:nth-child(1)>span {
  font-weight: 600;
}

.moduleTitleCourseContent {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  align-items: center;
  padding: 10px 0 20px 40px;
}

.moduleTitleCourseContent>div {
  gap: 7px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.moduleTitleCourseContent>div p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  color: var(--grey3);
  font-family: Archivo;
}

.weekContainer {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.week {
  gap: 1rem;
  display: flex;
  padding: 5px 0;
  font-size: 13px;
  cursor: pointer;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  color: var(--grey);
  font-family: Archivo;
  margin-bottom: 0.5rem;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.courseFile {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.courseFile>:nth-child(1) {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: var(--grey);
  font-style: normal;
  font-family: Archivo;
}

.courseFile>:nth-child(2) {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  color: var(--grey3);
  font-family: Archivo;

  gap: 3px;
  display: flex;
  align-items: center;
}

.active {
  border: 1px solid var(--veryLightPurple);
  background: var(--veryVeryLightPurple);
}

@media screen and (max-width: 768px) {

  .container {
    padding: 0;
  }

  .innerContainer {
    padding: 16px;
  }
}