.container {
  padding: 40px 2rem;
}

.studentSeachInput {
  margin-top: 40px;
  padding: 1.5rem 2rem;
  height: 100%;
  overflow: auto;
  background-color: var(--white);
}

.inputSection {
  width: 100%;
  max-width: 426px;
  position: relative;
}

.inputSection>input {
  width: 100%;
  padding: 11px 40px 11px 84px;
  border-radius: 10px;
  border: 1px solid var(--foundation-grey-g-50, #d8d8d8);
  background: var(--white-body-text, #fff);
  color: var(--foundation-grey-g-900, #2e2e2e);
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  outline: none;
}

.inputSection>svg {
  position: absolute;
  left: 40px;
  top: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    padding: 1rem;
  }

  .studentSeachInput {
    padding: 0;
    background: transparent;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 1rem;
  }

  .studentSeachInput {
    padding: 0;
    background: transparent;
  }

  .inputSection>input {
    font-size: 16px;
  }
}