.container {
    gap: 1.5rem;
    width: 100%;
    display: flex;
    padding: 40px 32px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    background: var(--white);
    border-radius: 0 0 10px 10px;

    font-weight: 400;
    color: var(--grey);
    font-style: normal;
    font-family: Archivo;
}

.container h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 36px;
}

.container>div:nth-child(1)>p {
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px;
}

.container .buttonContainer {
    gap: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .buttonContainer>div {
    flex: 1;
}


.container .buttonContainer>button {
    width: fit-content;
    padding: 10px 30px;
}

@media screen and (max-width: 768px) {
    .container {
        gap: 1rem;
        padding: 24px 16px;
    }

    .container h3 {
        font-size: 18px;
        line-height: 25px;
    }

    .container>div:nth-child(1)>p,
    .container .buttonContainer>div {
        display: none;
    }

}