.flex,
.flex2 {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.flex>div:nth-child(2) {
  flex: 1;
}

.flex>div:nth-child(2) input {
  margin: 0;
}

.flex2>div {
  flex: 1;
}

.container {
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.infoTip {
  color: var(--grey3);
  font-family: Archivo;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: -1.5em;
}