.flex,
.flex2 {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.flex > div:nth-child(1) {
  width: 127px;
}

.flex > div:nth-child(2) {
  flex: 1;
}

.flex > div:nth-child(2) input {
  margin: 0;
}

.flex2 > div {
  flex: 1;
}

.birthdayTip {
  color: var(--grey3);
  font-family: Archivo;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
