.container {
  padding: 1.5rem 2rem;
  height: 100%;
  overflow: auto;
  background-color: var(--sideNavBackground);
}

.logoSection {
  width: 53px;
  height: 50px;
}

.navSection {
  margin-top: 30px;
}

.navSection>a,
.navSection>div:not(.otherOptions) {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.5rem;
  text-decoration: none;
  border-radius: 4px;
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  flex-wrap: wrap;
}

.navSection>div>svg:nth-child(3) {
  margin-left: auto;
}

.otherOptions>a {
  text-decoration: none;
  padding: 10px 10px 10px 30px;
  border-radius: 4px;
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: block;
  color: var(--grey);
  white-space: nowrap;
}

.otherOptions {
  flex-basis: 100%;
  overflow-y: hidden;
  transition: all .3s ease-in-out
}

.active {
  background-color: var(--purple);
  color: var(--white);
  padding: 10px;
}

.active svg {
  color: var(--white);
  stroke: var(--white);
}

.inActive {
  color: var(--grey);
  stroke: var(--grey);
  padding: 10px;
}

.link {
  text-decoration: none;
  border-radius: 4px;
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.link:nth-child(2) {
  flex: 1;
}

.moreMenuContentInActive {
  color: var(--grey);
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  gap: 10px;
  display: flex;
}

.moreMenuContentActive {
  background-color: var(--purple);
  color: var(--white);
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  gap: 10px;
  display: flex;
}

.moreMenuContentInActive a {
  color: var(--grey);
}

.moreMenuContentActive a {
  color: var(--white);
}

.moreMenuContentActive svg {
  filter: invert(1);
}

.logout {
  margin-top: 3rem;
}