.container {
    padding: 1rem 1.5rem;
    overflow: auto;
    height: 250px;
}

.container::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
    background: #A79AFE;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container ul {
    padding: 0;
    margin: 0;
    list-style: none;

    gap: 2rem;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

.container ul li {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--sectionBorder);
}

.container ul li div:nth-child(1) {
    gap: 0.8rem;
    display: flex;
    width: 100%;
    align-items: center;
}

.container ul li h4 {
    font-size: 18px;
    line-height: 29px;
    font-weight: 600;
    padding-block: 10px;
}

.container ul li div:nth-child(3) {
    gap: 2rem;
    display: flex;
    width: 100%;
    align-items: center;
}

.container ul li div:nth-child(3) a {
    text-decoration: none;
    color: var(--purple);
    font-size: 13px;
    font-weight: 600;
}

@media screen and (max-width: 400px) {
    .container {
        padding: 0;
    }

    .container ul {
        gap: 1rem;
    }

    .container ul li {
        padding: 0.8rem;
        border: none;
    }
}